<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Da2Ating - 샐러드 판매 쇼핑몰</title>

  <!-- Common Import -->
  <link rel="stylesheet" href="../../common/common.css">
  <link rel="stylesheet" href="../../common/layout.css">
  <script src="../../common/makeLayout.js" defer></script>

  <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />-->

  <link rel="stylesheet" href="./product-detail.css">
  <script defer src="./product-detail.js"></script>

</head>
<body>
  <!-- HEADER -->
  <header id="header"></header>
  <aside id="sidebar"></aside>

  <section class="productDetail">
    <div class="inner">
      <div class="productDetailInfo">
        <div id="productImg"></div>
        <div id="productInfo"></div>
      </div>

      <div class="productDescription">
        <ul>
          <li>
            <a href="javascript:void(0)">상품설명</a>
          </li>
        </ul>
        <div id="desImg"></div>
      </div>

    </div>
  </section>

  <!-- FOOTER -->
  <footer id="footer"></footer>

</body>
</html>