<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다2ating - 샐러드 판매 쇼핑몰</title>
    <link rel="stylesheet" href="./mainstyle.css">
    <link rel="stylesheet" href="./sidebar.css">
    <link rel="stylesheet" href="./info-change.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://kit.fontawesome.com/8eb5905426.js" crossorigin="anonymous"></script>
    <script src="./info-change.js" defer></script>
    <style type="text/css" media="screen and (min-width:512px) and (max-width:1024px)"></style>
</head>
<body>
    <section class="wrap">
        <!-- 메인 상단 -->
        <header>
            <!-- 헤더(로고) -->
            <nav class="header1">
                <div class="diat">
                    <a class="logo" href="../main/main.html">
                        <img src="../common/images/logo2.gif" style="height:auto; width:270px;">
                    </a>
                    <div class="search">
                        <!-- <i class="fas fa-search" type="button" onclick="doSearch()"></i>
                        <input class="keyword" type="search" placeholder="상품검색" onkeyup="performSearch(event)"> -->
                    </div>
                </div>
                <div class="form">
                    <p class="welcome">반갑습니다.</p>
                    <button class="logout" onclick="logout()">로그아웃</button>
                    <a class="mypage" href="http://127.0.0.1:5500/f2ting_client/src/views/member-info/mypage-view.html">
                        <span class="material-symbols-outlined">face</span>
                    </a>
                    <a class="cart" href="http://127.0.0.1:5500/f2ting_client/src/views/cart/cart.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
            </nav>
            <!-- 헤더(메뉴카테고리) -->
            <nav class="header2"><br>
                <div class="category">
                    <!-- 카테고리 연결 -->
                    <script src="./maincategory.js" defer></script>
                </div>        
            </nav>
        </header>

            <!-- 메인 본문 -->
            <main>
                <aside id="mypage">
                    <h1>마이페이지</h1>
                    <div>
                    </div>
                    <div>
                        <h2>회원정보</h2>
                        <a href="http://127.0.0.1:5500/f2ting_client/src/views/member-info/mypage-view.html">-회원정보 조회</a></br>
                        <a href="http://127.0.0.1:5500/f2ting_client/src/views/member-info/mypage.html" style="font-weight:bold; color:rgb(25, 138, 44)">-회원정보 변경</a></br>
                        <a href="http://127.0.0.1:5500/f2ting_client/src/views/member-info/delete-account.html">-회원탈퇴</a></br>
                    </div>
                    <div>
                        <h2>주문/배송 조회</h2>
                        <a href="http://127.0.0.1:5500/f2ting_client/src/views/member-info/order-deliver.html">-주문목록/배송조회</a></br>
                        </div>
                    <div>
                        <h2>나의 상품문의</h2>
                        <a href="">-나의 상품 문의</a></br>
                    </div>
                </aside>

                <article>
                    <h1>회원정보 변경</h1>
                    <div id="memberInfo">
                        <form class="changeInfo" action="" method="post">
                            <table>
                                <tr>
                                    <td class="className">아이디</td>
                                    <td>
                                        <input class="infoInput" type="text" name="id" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="className">이름</td>
                                    <td>
                                        <input class="infoInput" name="userName" type="text" value="" maxlength=12>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="className">이메일</td>
                                    <td><input class="infoInput" type="text" name="email1"></td>
                                    <td>
                                        <select name="" id="">
                                            <option value="">@naver.com</option>
                                            <option value="">@google.com</option>
                                            <option value="">@hanmail.net</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="className">휴대폰번호</td>
                                    <td><select name="phone1">
                                        <option value="010" selected>010</option>
                                        <option value="011">011</option>
                                        <option value="011">016</option>
                                        <option value="011">017</option>
                                        <option value="011">018</option>
                                        <option value="017">019</option>
                                    </select></td>
                                    <td>
                                        <input class="infoInput" type="text" name="phone2" size="4" maxlength="4">
                                    </td>
                                    <td>
                                        <input class="infoInput" type="text" name="phone3" size="4" maxlength="4">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="className">주소</td>
                                    <td>
                                        <input class="infoInput" name="address" type="text" value="" maxlength=12>
                                    </td>
                                </tr>

                            </table>    
                            <div class="button">
                                <a href="http://127.0.0.1:5500/info-change.html">
                                    <button type="reset" value="다시작성">취소</button>
                                </a>
                                <a href="http://127.0.0.1:5500/mypage-view.html">
                                    <button type="submit" value="변경" onclick="">변경</button>
                                </a>
                            </div>    
                        </form>
                        <form class="changePsw" action="" method="post">
                            <h1 class="className">비밀번호 변경</h1>
                            <table>
                                <tr>
                                    <td>새 비밀번호</td>
                                    <td>
                                        <input type="password" name="pw1" maxlength=15>
                                    </td>
                                </tr>
                                <tr>
                                    <td>새 비밀번호 확인</td>
                                    <td>
                                        <input type="password" name="pw2" maxlength=15>
                                    </td>
                                </tr>
                            </table>
                            <div class="button">
                                <a href="http://127.0.0.1:5500/info-change.html">
                                    <button type="reset" value="다시작성">취소</button>
                                </a>
                                <a href="http://127.0.0.1:5500/mypage-view.html">
                                    <button type="submit" value="수정" onclick="">비밀번호 재설정</button>
                                </a>
                            </div>    
                        </form>
                    </div>
                </article>
            </main>
            <!-- 메인 하단 -->
          <!-- FOOTER -->
          <footer id="footer">
            <div class="inner">
                <div class="top">
                    <ul class="footerMenu">
                        <li><a href="javascript:void(0)">회사소개</a></li>
                        <li><a href="javascript:void(0)">이용약관</a></li>
                        <li><a href="javascript:void(0)">개인정보 처리방침</a></li>
                        <li><a href="javascript:void(0)">이용안내</a></li>
                    </ul>
                    <ul class="sns" style="color:rgba(255, 255, 255, 0)">
                        <li><a href="javascript:void(0)"><img src="../common/images/sns_insta.png" alt="Instagram"></a></li>
                        <li><a href="javascript:void(0)"><img src="../common/images/sns_fb.png" alt="Facebook"></a></li>
                        <li><a href="javascript:void(0)"><img src="../common/images/sns_you.png" alt="YouTube"></a></li>
                    </ul>
                </div>

                <div class="companyInfo">
                    <ul class="infoList">
                        <li>법인명(상호) : 주식회사 엘리스 2조</li>
                        <li>대표 : 2조</li>
                        <li>TEL : <span>2222-2222</span></li>
                    </ul>
                    <ul class="infoList">
                        <li>사업자등록번호 : 222-22-22222</li>
                        <li>통신판매업신고번호 : 2023-엘리스-222</li>
                        <li><button>사업자정보확인</button></li>
                    </ul>
                    <ul class="infoList">
                        <li>주소 : 엘리스 1차 프로젝트</li>
                        <li>개인정보관리책임자 : 엘리스</li>
                        <li>E-Mail : elice@elice.io</li>
                    </ul>

                    <p class="copyright">
                        Copyright&copy; <span>elice-team2</span>  All Rights Reserved.
                    </p>

                    <div class="footerLogo">
                        <img src="../common/images/logo2.png" alt="logo">
                    </div>
                </div>
            </div>
        </footer>
    </section>
</body>
</html>