<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Da2ating</title>
    <link rel="stylesheet" href="./admin-category.css" />
    <script src="admin-category.js" defer></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>
  </head>
  <body>
    <!-- side bar -->
    <nav id="sidebar">
      <div class="left-sidebar">
        <h2>관리자 메뉴</h2>
        <ul class="menu-list">
          <li><a href="#">상품 관리</a></li>
          <li><a href="#">주문 관리</a></li>
          <li><a href="./admin-category.html">카테고리 관리</a></li>
          <li><a href="#">회원 관리</a></li>
        </ul>
      </div>
    </nav>

    <!-- 카테고리 관리 -->
    <div class="container">
      <h3>카테고리 관리</h3>
      <div id="category-control">
        <ul id="category-list"></ul>
      </div>
    </div>
  </body>
</html>
