body {
  font-family: 'Noto Sans KR', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#sidebar {
  position: fixed;
  z-index: 9999;
  top: 20%;
  left: 20px;
}

#sidebar h2 {
  padding-left: 20px;
}

ul,
li,
.left-sidebar a {
  list-style: none;
  position: relative;
  text-decoration: none;
}

.left-sidebar li {
  font-size: 20px;
  padding: 20px 0;
}

a {
  color: black;
}

/* 카테고리 목록 */

#category-control {
  width: 300px;
}

#category-list li {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* 카테고리 버튼 */
#category-buttons button {
  border: 0 none;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;

  display: inline-block;
  font-size: 13px;
  font-weight: 500;

  width: 40px;
  height: 25px;
}

#changeBtn {
  background: #00af85;
}

#deleteBtn {
  background: #f86f7a;
}
