<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Da2ating</title>
    <link rel="stylesheet" href="../main/mainstyle.css" />
    <link rel="stylesheet" href="./order.css" />
    <script src="order.js" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- Common Import -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/common/common.css" />
    <link rel="stylesheet" href="/common/layout.css" />
    <script src="/common/makeLayout.js" defer></script>
    <script src="/common/maincategory.js" defer></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>
  </head>
  <body>
    <!-- 메인 상단 -->
    <header id="header"></header>
    <aside id="sidebar"></aside>
    <div class="container">
      <div class="delivery-order-container">
        <!-- 구매 상품 정보 -->
        <article class="purchaseProduct">
          <h1>구매 상품 정보</h1>
          <hr />
          <table class="product-info-table"></table>
        </article>
        <!-- 총 금액 -->
        <hr />
        <div class="product-sum">
          <h3>총 상품 금액</h3>
        </div>

        <!-- 주문 결제 -->
        <article class="delivery">
          <h1>구매자 정보</h1>
          <hr />
          <table class="delivery-info-table">
            <tr>
              <td>받으실 분<span class="important">＊</span></td>
              <td><input type="text" id="deliveryName" /></td>
            </tr>
            <tr>
              <td>휴대폰<span class="important">＊</span></td>
              <td>
                <input type="number" class="phonenumber" id="phoneNumber1" />
                <span>-</span>
                <input type="number" class="phonenumber" id="phoneNumber2" />
                <span>-</span>
                <input type="number" class="phonenumber" id="phoneNumber3" />
              </td>
            </tr>
            <tr>
              <td>주소<span class="important">＊</span></td>
              <td class="table-address">
                <div>
                  <input type="text" id="addressCode" disabled />
                  <button id="addressCodeBtn">검색</button>
                </div>
                <div>
                  <input type="text" id="addressBasic" disabled />
                  <span class="explanation">기본 주소</span>
                </div>
                <div>
                  <input type="text" id="addressDetail" />
                  <span class="explanation">상세 주소</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>배송 메세지</td>
              <td><input type="text" id="deliveryMessage" /></td>
            </tr>
          </table>
        </article>
        <!-- 구매하기 -->
        <div class="purchase">
          <button class="button" id="purchaseButton">구매하기</button>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <footer id="footer"></footer>
  </body>
</html>
