<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>da2ating</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link rel="stylesheet" href="./product-detail.css">
  <link rel="stylesheet" href="/f2ting_client/src/views/common/footer.css">

  <script defer src="./product-detail.js"></script>

</head>
<body>
  <!-- header -->
  <header></header>

  <section class="productDetail">
    <div class="inner">
      <div class="productDetailInfo">
        <div class="productImg">
          <img src="./images/salad-detail-item01.jpg" alt="">
        </div>
        <div class="productInfo">
          <h2>상품명</h2>
          <span>23%</span>
          <div class="productPrice">
            <p>9,000<span>원</span></p>
            <strong>6,900<span>원</span></strong>
          </div>

          <div class="deliveryInfo">
            <p>배송정보</p>
            <img src="./images/s_detail_caution_icn1.png" alt="">
          </div>

          <div class="deliveryFee">
            <span>3,000원 / 주문시결제(선결제) <button>지역별 추가 배송비</button></span>
          </div>

          <div class="count">
            <p> 크래미 샐러드 </p>
            <div class="btnCount">
              <button class="minus"></button>
              <input type="text" value="1"></input>
              <button class="plus"></button>
            </div>
          </div>

            <strong class="totalAmount">총 합계 금액 <span>6,900<b>원</b></span></strong>

            <div class="btn">
              <button class="btnCart">장바구니</button>
              <button class="btnBuynow">바로 구매</button>
            </div>
        </div>
      </div>
    </div>
  </section>


  <!-- footer -->
  <footer></footer>

  <script>
    const footer = document.querySelector('footer');
    
    fetch('/f2ting_client/src/views/common/footer.html')
      .then(res => res.text())
      .then(data => footer.innerHTML = data);
  </script>
</body>
</html>