<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>da2ating</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

  <!-- GOOGLE FONT & ICON-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link rel="stylesheet" href="./footer.css">

</head>
<body>
  <!-- FOOTER -->
  <footer>
    <div class="inner">
      <div class="top">
        <ul class="footerMenu">
          <li><a href="javascript:void(0)">회사소개</a></li>
          <li><a href="javascript:void(0)">이용약관</a></li>
          <li><a href="javascript:void(0)">개인정보 처리방침</a></li>
          <li><a href="javascript:void(0)">이용안내</a></li>
        </ul>
        <ul class="sns">
          <li><a href="javascript:void(0)"><img src="/f2ting_client/src/views/common/images/sns_insta.png" alt="Instagram"></a></li>
          <li><a href="javascript:void(0)"><img src="/f2ting_client/src/views/common/images/sns_fb.png" alt="Facebook"></a></li>
          <li><a href="javascript:void(0)"><img src="/f2ting_client/src/views/common/images/sns_you.png" alt="YouTube"></a></li>
        </ul>
      </div>

      <div class="companyInfo">
        <ul class="infoList">
          <li>법인명(상호) : 주식회사 엘리스 2조</li>
          <li>대표 : 2조</li>
          <li>TEL : <span>2222-2222</span></li>
        </ul>
        <ul class="infoList">
          <li>사업자등록번호 : 222-22-22222</li>
          <li>통신판매업신고번호 : 2023-엘리스-222</li>
          <li><button>사업자정보확인</button></li>
        </ul>
        <ul class="infoList">
          <li>주소 : 엘리스 1차 프로젝트</li>
          <li>개인정보관리책임자 : 엘리스</li>
          <li>E-Mail : elice@elice.io</li>
        </ul>

        <p class="copyright">
          Copyright&copy; <span>elice-team2</span>  All Rights Reserved.
        </p>

        <div class="footerLogo">
          <img src="/f2ting_client/src/views/common/images/logo2.png" alt="">
        </div>
      </div>
    </div>
  </footer>
</body>
</html>