
/* material-icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* font-size: 24px;  Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 전체 */
* {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 40;
    line-height: 1.5;
    margin:0;
    padding: 0;
    width: 1200px;
    font-family: "Noto Sans KR", sans-serif !important;
}
html, body{
    width: 100%;
    height: 100%;
}
.division {
    display: flex;
    flex-direction: row;
    align-content: start;
}
.wrap {
    display: inline-block;
    padding-top: 40px;
    height: 100%;
    flex-wrap: wrap;
    position:relative;
    min-width: 1200px;
}
a {
    text-decoration: none;
    color:#000000
}
/* 헤더로고 */
header {
    width: 1200px;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: 178px;
    z-index: 2;
    background: #fff;
}
.header1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}
.diat {
    display: flex;
    align-items: center;
}
.logo {
    height: 220px;
    margin: 50px 70px 10px 0;
}
.search {
    position: relative;
    text-align: center;
    width: 250px;
    margin: 0 auto;

}
input {
    border-radius: 20px;
    border: 4px solid #10a2a7;
    margin: 10px 0;
    padding: 10px 12px;
    width: 253px;
    height: 42px;
    line-height: 42px;
    border-radius: 999px;
    background: #ffffff;
    font-family: "Noto Sans KR", sans-serif !important;
    font-size: 20px;
    color: rgb(14, 81, 83);
}
.fa-search {
    position: absolute;
    left: 220px;
    top: 25px;
    margin: 0;
    border-radius: 100%;
    cursor: pointer;
}
.form {
    display: inline-block;
    position: absolute;
    right: 8px;
    z-index: 0;
    line-height: 1;
}
.welcome{
    display: inline;
    color:#000000;
    margin: 20px;
    font-size: 18px;
}
.logout{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border:#10a2a7 solid 3px;
    margin: 20px;
    font-family: "Noto Sans KR", sans-serif !important;
    font-size: 16px;
}
.mypage > span {
    font-size: 30px;
    padding-right: 30px;
    color:#10a2a7;
    font-weight: bold;
}
.cart > span {
    font-size: 30px;
    color:#10a2a7;
    font-weight: bold;
}


/* 헤더 카테고리 */
.header2 {
    position: relative;
    margin-top: 100px;
    border-bottom: 1px solid #e2e2e2;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.category {
    display: flex;
    margin-left: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 50px 0px;
}
.category > a {
    font-size : 16px;
    color:#10a2a7;
    padding: 0 80px;
    font-weight: bold;
}
.category > a.clicked {
    color: rgb(0, 0, 0); /* 클릭 후 색깔 */
}
.objectname{
    font-size: 28px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
}
.object{
    font-size: 20px;
    color:#000000;
}
section {
    width: 100%;
}

