<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다2ating - 샐러드 판매 쇼핑몰</title>
    <link rel="stylesheet" href="mainstyle.css">
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://kit.fontawesome.com/8eb5905426.js" crossorigin="anonymous"></script>
    <script src="./new-product.js" defer></script>
    <script src="./best-product.js" defer></script>
    <script src="./search-product.js" defer></script>
    <style type="text/css" media="screen and (min-width:512px) and (max-width:1024px)"></style>
</head>
<body>
    <section class="wrap">
        <!-- 메인 상단 -->
        <header>
            <!-- 헤더(로고) -->
            <nav class="header1">
                <div class="diat">
                    <a class="logo" href="../main/main.html">
                        <img src="../common/images/logo2.gif" style="height:auto; width:220px;">
                    </a>
                    <div class="search">
                        <i class="fas fa-search" type="button" onclick="doSearch()"></i>
                        <input class="keyword" type="search" placeholder="상품검색" onkeyup="performSearch(event)">
                    </div>
                </div>
                <div class="form">
                    <p class="welcome">반갑습니다.</p>
                    <button class="logout" onclick="logout()">로그아웃</button>
                    <a class="mypage" href="http://127.0.0.1:5500/f2ting_client/src/views/member-info/mypage-view.html">
                        <span class="material-symbols-outlined">face</span>
                    </a>
                    <a class="cart" href="http://127.0.0.1:5500/f2ting_client/src/views/cart/cart.html">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
            </nav>
            <!-- 헤더(메뉴카테고리) -->
            <nav class="header2"><br>
                <div class="category">
                    <!-- 카테고리 연결 -->
                    <script src="./maincategory.js" defer></script>
                </div>        
            </nav>
        </header>
