    <!-- 메인 > div > article + aside 순서 -->

    <!-- 사이드바 -->
    <aside>
        <div class="menu-side">
            <div class="easyskills">
                <span class="material-symbols-outlined" href="" style="cursor: pointer;">local_shipping</span></br>
                <span class="material-symbols-outlined">maximize</span></br>
                <span class="material-symbols-outlined" href="" style="cursor: pointer;">shopping_cart</span> </br>                           
                <span class="material-symbols-outlined">maximize</span></br>
                <a href="">
                    <span class="material-symbols-outlined">expand_less</span> </br>
                </a>
                <div class="currently">
                    <img src="images\bestmenu\crabsalad.jpg" alt="최근 본 상품1"></br>
                    <img src="images\bestmenu\galbisalad.jpg" alt="최근 본 상품2"></br>
                    <img src="images\bestmenu\greensalad.jpg" alt="최근 본 상품3"></br>    
                </div>
                <a href="">
                    <span class="material-symbols-outlined">keyboard_arrow_down</span>
                </a>
            </div>
            <div class="topBottom">
                <a href="#">
                    <span class="material-symbols-outlined">arrow_circle_up</span></br>
                </a>
                <a href="#footer">
                    <span class="material-symbols-outlined">arrow_circle_down</span>
                </a>
            </div>
        </div>
        <script src="sidebar.css" defer></script>
    </aside>

