

/* 카테고리 하단 메뉴 */
/* main */
main{
  top: 100px;
  width: 100%;
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
/* 마이페이지 좌측 사이드바 */
aside{
  width: 300px;
  justify-content:flex-start;
  text-align: left;
  padding: 50px 0 50px 30px;
  border-right: #a5a5a5 solid 1px;
}
.easyskills{
  height: 100px;
}
aside h1 {
  font-size: 35px;
  margin-bottom: 40px;
}
aside div {
  padding: 30px 0px;
  line-height: 35px;
}
aside h2 {
  padding-bottom: 15px;
  font-size: 25px;
}
aside a {
  padding-bottom: 20px;
  font-size: 20px;
}

/* 마이페이지 정보 확인창-회원탈퇴 */
article{
  width: 900px;
  padding: 100px 0 50px 50px;
}
article h1{
  font-size: 35px;
  margin-bottom: 20px;
}
#deleteAcount{
 margin-top: 50px;
}
/* 01.회원탈퇴 안내 */
.deleteInfo{
  margin: 20px 0;
  font-size: 18px;
  line-height: 30px;
  border: #8d8d8d solid 1px;
  padding: 20px;
}
.deleteInfo h2{
  font-size: 23px;
  margin-bottom: 20px;
}

/* 02.회원탈퇴하기 */
.deleteReason{
  margin: 20px 0;
  font-size: 23px;
  line-height: 30px;
  padding: 20px;
}
.deleteReason h2{
  font-size: 23px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.table{
  border-top: #8d8d8d solid 0.5px;
  border-bottom: #8d8d8d solid 0.5px;
}
.classReason{
  font-size: 20px;
  width: 200px;
  text-align: center;
  background-color: #eeeeee;
}
.reason1 input{
  margin: 10px;
  width:30px;
  height: 20px;
  font-size: 30px;
}
.reason2 input{
  width: 600px;
  height: 150px;
  margin: 10px;
  border-radius: 2px;
}

/* 탈퇴 버튼 */
button{
  margin: 50px 100px;
  padding: 15px;
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

