<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da2Ating - 샐러드 판매 쇼핑몰</title>

    <!-- Common Import -->
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="../../common/layout.css">
    <script src="../../common/makeLayout.js" defer></script>

    <link rel="stylesheet" href="./info-change.css">
    <script src="./info-change.js" defer></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
    <!-- HEADER -->
    <header id="header"></header>
    <aside id="sidebar"></aside>

    <main class="mypage-container">
        <aside id="mypage-sidebar">
            <h1>마이페이지</h1>
            <div>
                <h2>회원정보</h2>
                <a href="./mypage-view.html">-회원정보 조회</a></br>
                <a href="./info-change.html" style="font-weight:bold; color:#10a2a7">-회원정보 변경</a></br>
                <a href="./delete-account.html">-회원탈퇴</a></br>
            </div>
            <div>
                <h2>주문/배송 조회</h2>
                <a href="./order-deliver.html">-주문목록/배송조회</a></br>
            </div>
        </aside>

        <article class="mypage-info-change-page">
            <h1>회원정보 변경</h1>
            <div class="mypage-info-change-table">
                <div class="mypage-info-change-row">
                    <div class="mypage-info-change-label">이름</div>
                    <div class="mypage-info-change-value">
                        <input class="info-input info-input-name" name="name" type="text" maxlength="12">
                    </div>
                </div>
                <div class="mypage-info-change-row">
                    <div class="mypage-info-change-label">휴대폰 번호</div>
                    <div class="mypage-info-change-value">
                        <input class="info-input info-input-phone" id="phone" type="text" maxlength="14" />
                    </div>
                </div>
                <div class="mypage-info-change-row">
                    <div class="mypage-info-change-label">주소</div>
                    <div class="mypage-info-change-addr">
                        <input type="text" class="info-input info-input-zip-code" id="addressCode" placeholder="우편번호" readonly>
                        <input type="button" class="info-addr-btn" id="addressCodeBtn" onclick="DaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" class="info-input" id="addressBasic" placeholder="주소"><br>
                        <input type="text" class="info-input" id="addressDetail" placeholder="상세주소">
                    </div>
                </div>

                <button class="info-change-submit-btn" onclick="changeInfo()">변경하기</button>
            </div>

            <h1>비밀번호 변경</h1>
            <div class="mypage-info-change-table">
                <div class="mypage-info-change-row">
                    <div class="mypage-info-change-label">새 비밀번호</div>
                    <div class="mypage-info-change-value">
                        <input class="info-input info-input-pwd" type="password" id="userPw" name="pw1" autocomplete="off">
                    </div>
                </div>
                <div class="mypage-info-change-row">
                    <div class="mypage-info-change-label">새 비밀번호 확인</div>
                    <div class="mypage-info-change-value">
                        <input class="info-input info-input-pwd" type="password" id="userPwConfirm" name="pw2" autocomplete="off">
                    </div>
                </div>

                <button class="info-change-submit-btn" onclick="changePassword()">변경하기</button>
            </div>
        </article>
    </main>

    <!-- FOOTER -->
    <footer id="footer"></footer>
</body>
</html>