.header-top .search {
  display: none;
}


/* main */
main{
  top: 100px;
  width: 100%;
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
/* 마이페이지 좌측 사이드바 */
aside{
  width: 300px;
  justify-content:flex-start;
  text-align: left;
  padding: 50px 0 50px 30px;
  border-right: #a5a5a5 solid 1px;
}
aside h1 {
  font-size: 35px;
  margin-bottom: 40px;
}
aside div {
  padding: 30px 0px;
  line-height: 35px;
}
aside h2 {
  padding-bottom: 15px;
  font-size: 25px;
}
aside a {
  padding-bottom: 20px;
  font-size: 20px;
}

/* 마이페이지 정보 확인창-회원정보변경 */
article{
  width: 900px;
  padding: 100px 0 50px 50px;
}
article h1{
  font-size: 35px;
}
#memberInfo{
 margin-top: 50px;
}
.changeInfo {
  padding: 15px;
  font-size: 22px;
  line-height: 70px;
}
td{
  width: 150px;
  font-size: 20px;
  text-align: center;
}
.changeInfo input{
  width: 600px;
  border-radius: 10px;
  border: none;
  height: 40px;
}
select{
  width: 200px;
  border-radius: 10px;
  height: 43px;
  text-align: center;
  font-size: 20px;
}
.changePsw{
  padding: 15px;
  font-size: 22px;
  line-height: 70px;
}
.changePsw input{
  width: 500px;
  border-radius: 10px;
}
.button {
  display:flex;
  justify-content: center;
}
button{
  margin: 50px;
  padding: 15px;
  width: 220px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
