.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
}

.register-title {
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}

/* 숫자 input의 위 아래 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1 {
  text-decoration: underline;
}

/* 입력 폼 */

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-box {
  border: 1px solid #e2e2e2;
  padding: 70px;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 15rem;
  height: 2rem;
  line-height: 50px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  outline: none;
  margin: 0.5rem;
  padding: 5px 10px;
  margin: 0.5rem;
  margin-left: 5rem;
}

td > .important {
  font-size: 1px;
  color: #00af85;
  margin-left: 3px;
  font-weight: 700;
}

.error-warning {
  margin: 0.3rem;
  margin-left: 5rem;
  color: #00af85;
  font-size: 13px;
}

/* 버튼 */

#submitButton {
  border: 0 none;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 4px;
  background: #00af85;

  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  width: 12rem;
  height: 3.5rem;
  margin: 5rem 0 0 0;
  padding: 5px 10px;
}
