<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da2Ating - 샐러드 판매 쇼핑몰</title>

    <!-- Common Import -->
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="../../common/layout.css">
    <script src="../../common/makeLayout.js" defer></script>

    <link rel="stylesheet" href="./search.css">
    <script src="./search-product.js" defer></script>

</head>
<body>
    <header id="header"></header>
    <aside id="sidebar"></aside>

    <div class="search-page">
        <h2>검색 결과</h2>
        <div id="search-list" class="product-item-list"></div>
    </div>

    <footer id="footer"></footer>
</body>
</html>