        <!-- 메인 하단 -->
        <footer id="footer">
            <div class="information">
                <div class="serviceCenter">
                    <div>
                        <h1>고객센터</h1>
                        <button type="button" class="qnaBtn" href="">1:1문의</button>    
                    </div>
                    <div>
                        <h2>7777-7777</h2>
                        <button type="button" class="deliveryBtn" href="">배송조회</button>    
                    </div>
                    <h3>월 ~ 금 : 오전 10시 ~ 오후 5시<br>
                    점심시간 : 오후 12시 30분 ~ 오후 1시 30분<br>
                    토요일/일요일/공휴일은 휴무 입니다.</h3>
                    <h5>고객센터가 종료된 5시 이후와 토요일/일요일/공휴일에는 1:1 문의 게시판을 이용바랍니다.</h5>
                </div>
            </div>
            <div class="information">
                <div class="accountNumber">
                    <h1>입금계좌 안내</h1>
                    <p>
                        신한은행: 0000-0000-0000<br>
                        농협은행: 1111-1111-1111<br>
                        국민은행: 2222-2222-2222<br>
                        우리은행: 3333-3333-3333<br>
                    </p>
                </div>
            </div>
            <div class="information">
                <div class="announcement">
                    <h1>공지사항</h1>
                    <a href="">
                        <p>더보기</p>
                    </a>
                    <!-- 공지사항 등록 -->
                </div>
            </div>
        </footer>
    </section>
</body>
</html>