<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다2ating - 샐러드 판매 쇼핑몰</title>
    <link rel="stylesheet" href="mainstyle.css">
    <link rel="stylesheet" href="slide.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://kit.fontawesome.com/8eb5905426.js" crossorigin="anonymous"></script>
    <script src="new-product.js" defer></script>
    <script src="best-product.js" defer></script>
    <script src="search-product.js" defer></script>
    <script src="E:\d2ating-upload\f2ting_client\index.html" defer></script>
    <style type="text/css" media="screen and (min-width:512px) and (max-width:1024px)"></style>
</head>
<body>
    <section class="wrap">
        <!-- 메인 상단 -->
        <header>
            <!-- 헤더(로고) -->
            <nav class="header1">
                <div class="diat">
                    <a class="logo" href="http://127.0.0.1:5500/main.html">
                        <img src="saladimg\logo\logo.png" style="height:300px; width:auto;">
                    </a>
                    <div class="search">
                        <i class="fas fa-search" type="button" onclick="doSearch()"></i>
                        <input class="keyword" type="search" placeholder="상품검색" onKeyup="onKeyUp()">
                    </div>
                </div>
                <div class="form">
                    <a href="" class="join">회원가입</a>
                    <a href="" class="login">로그인</a>
                    <a class="mypage" href="">
                        <span class="material-symbols-outlined">face</span>
                    </a>
                    <a class="cart" href="">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </a>
                </div>
            </nav>
            <!-- 헤더(메뉴카테고리) -->
            <nav class="header2"><br>
                <div class="category">
                    <input type="checkbox" id="menuicon">
                    <label for="menuicon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <div class="sidebar">
                        <div class="cate1">
                            <a href="" class="objectname">샐러드</a>
                            <a href="" class="object">데일리 샐러드</a>
                            <a href="" class="object">채소만 샐러드</a>
                            <a href="" class="object">테이스티 샐러드</a>
                            <a href="" class="object">그린 샐러드</a>
                        </div>
                        <div class="cate2">
                            <a href="" class="objectname">도시락</a>
                            <a href="" class="object">라이스 도시락</a>
                            <a href="" class="object">곤약 라이스</a>
                            <a href="" class="object">미니컵밥</a>
                        </div>
                        <div class="cate3">
                            <a href="" class="objectname">닭가슴살</a>
                            <a href="" class="object">슬라이스</a>
                            <a href="" class="object">소시지</a>
                            <a href="" class="object">큐브&볼</a>
                        </div>
                        <div class="cate4">
                            <a href="" class="objectname">간식&드레싱</a>
                            <a href="" class="object">간식</a>
                            <a href="" class="object">드레싱</a>
                        </div>
                    </div>
                    <a href="" class="totalCategory">전체 카테고리</a>
                    <a href="" class="salad">샐러드</a>
                    <a href="" class="sandwitch">도시락</a>
                    <a href="" class="lunchBox">닭가슴살</a>
                    <a href="" class="chickenBreast">간식&드레싱</a>
                </div>        
            </nav>
        </header>
    </section>
</body>
</html>