<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Da2ating</title>
    <link rel="stylesheet" href="./admin-category.css" />
    <script src="admin-category.js" defer></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>
  </head>
  <body>
    <!-- side bar -->
    <nav id="sidebar">
      <div class="left-sidebar">
        <h2>관리자 메뉴</h2>
        <ul class="menu-list">
          <li>
            <a href="/src/views/admin/admin-product/admin-product.html"
              >상품 관리</a
            >
          </li>
          <li>
            <a href="/src/views/admin/admin-order/admin-order.html"
              >주문 관리</a
            >
          </li>
          <li>
            <a href="/src/views/admin/admin-category/admin-category.html"
              >카테고리 관리</a
            >
          </li>
          <li><a href="#">회원 관리</a></li>
        </ul>
      </div>
    </nav>

    <!-- 카테고리 관리 -->
    <div class="container">
      <section class="category-section">
        <h2>카테고리 관리</h2>
        <div class="add-button">
          <button id="openBtn">추가</button>
        </div>
        <div id="category-control">
          <ul id="category-list"></ul>
        </div>
      </section>

      <!-- 카테고리 추가 모달창 -->
      <div class="category-add-modal hidden">
        <div class="bg"></div>
        <div class="category-add-container">
          <div class="form-container">
            <div class="close-container">
              <span id="closeBtn">X</span>
            </div>
            <h2>카테고리 추가</h2>
            <form class="category-add-form" enctype="multipart/form-data">
              <table class="category-add-table">
                <tr>
                  <td>카테고리 이름</td>
                  <td>
                    <input type="text" id="categoryName" />
                  </td>
                </tr>
                <tr>
                  <td>배너 사진</td>
                  <td>
                    <label for="categoryImage" class="imageButton"
                      >파일 업로드</label
                    >
                    <input
                      type="file"
                      id="categoryImage"
                      name="categoryImage"
                      accept="image/*"
                    />
                  </td>
                </tr>
              </table>
              <div>
                <div id="image-preview"></div>
              </div>
              <div class="button-container">
                <button type="submit" id="submitButton">추가하기</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
