<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니 페이지</title>
		<link rel="stylesheet" href="cart.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
		<script src="cart-feat.js" defer></script>
		<style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    </style>

</head>
<body>
	<!-- 장바구니 테스트 -->
	<ul>
		<li class="cart">
			<a href="cart.html">
				장바구니에 담긴 상품의 수량 총합: <span id="cnt1">0</span>
				<br>
				장바구니에 담긴 상품의 개수: <span id="cnt2">0</span>
			</a>
		</li>
	</ul>
	<a class="add-cart" href="#">닭가슴살 샐러드 (18900)</a>
  	<input type="hidden" value="18900" />
	<a class="add-cart" href="#">단호박 샐러드 (15800)</a>
  	<input type="hidden" value="15800" />
	<a class="add-cart" href="#">리코타치즈 샐러드 (19800)</a>
  	<input type="hidden" value="19800" />
	<!-- 장바구니 테스트 -->

	<section class="container">
		<div class="content">
			<div class="subtitle-wrap">
				<h2 id="subtitle">장바구니</h2>
				<ul class="order-step">
					<li>01 장바구니<span class="material-symbols-outlined">
						chevron_right
						</span></li>
					<li>02 주문/결제<span class="material-symbols-outlined">
						chevron_right
						</span></li>
					<li>03 주문완료</li>
				</ul>
			</div>
			<div class="cartlist-wrap">
				<div class="itemlist">
					<h3 id="cart-cnt">
						<button onclick="itemAllClear()">전체 삭제</button>
					</h3>
					<table class="cols table-pdg">
						<colgroup>
							<col style="width: 20px;">
							<col>
							<col style="width: 120px;">
							<col style="width: 117px;">
							<col style="width: 90px;">
							<col style="width: 110px;">
							<col style="width: 110px;">
						</colgroup>
						<thead>
							<tr>
								<th>
									<span class="chk-button">
										<input type="checkbox" name="price" id="chkAll" onchange="allChk(this)" placeholder="" checked="checked">
										<label for="chkAll"></label>
									</span>
								</th>
								<th>상품정보</th>
								<th>수량</th>
								<th>가격</th>
								<th>배송비</th>
								<th>상품금액</th>
								<th>주문 선택</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="total-price"></div>
				<div class="cartlist-payment">
					<div class="receipt">
					
								<dl>
									<dt>
										<strong>총 상품금액</strong>
									</dt>
									<dd><span id="receipt-price">0원</span></dd>
								</dl>
								<!-- <dl>
									<dt>
										<strong>총 할인금액</strong>
									</dt>
										<dd id="counter-discount-fee"><span>- <em>0</em>원</span></dd>
								</dl> -->
								<dl>
									<dt>
										<strong>배송비</strong>
									</dt>
										<dd><span id="receipt-delivery">+ 0원</span></dd>
								</dl>
								<dl>
									<dt><strong>총 합계금액</strong></dt>
									<dd><strong>
										<span id="receipt-total">0원</span>
										<br>
									</strong></dd>
								</dl>
								
					</div>
					<div class="order-buttons">
						<ul>
							<li><a href="../main/main.html" id="continue-btn">쇼핑 계속하기</a></li>
							<!-- button으로 변환 -->
							<li><a href="../order/order.html" id="order-btn">주문하기</a></li>
						</ul>
						
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
</body>
</html>
